<nz-table #editRowTable #nestedTable [nzData]="clubs">
  <thead>
  <tr>
    <th nzWidth="5%"></th>
    <th nzWidth="40%">Name</th>
    <th nzWidth="40%">Address</th>
    <th nzWidth="15%">Action</th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-clubItem [ngForOf]="clubs" let-clubIndex="index">
    <tr>
      <ng-container *ngIf="!editCache[clubIndex].edit; else editClubTemplate">
        <td [(nzExpand)]="clubItem.expand" nzWidth="5%"></td>
        <td nzWidth="40%">{{clubItem.club.clubName}}</td>
        <td nzWidth="40%">{{clubItem.club.clubAddress}}</td>
        <td nzWidth="15%"><a (click)="startClubEdit(clubIndex)">Edit</a></td>

      </ng-container>
      <ng-template #editClubTemplate>
        <td [(nzExpand)]="clubItem.expand" nzWidth="5%"></td>
        <td nzWidth="40%"><input type="text" nz-input [(ngModel)]="editCache[clubIndex].club.clubName" /></td>
        <td nzWidth="40%"><input type="text" nz-input [(ngModel)]="editCache[clubIndex].club.clubAddress" /></td>
        <td nzWidth="15%">
          <a (click)="saveClubEdit(clubIndex)" class="save">Save</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelClubEdit(clubIndex)">Cancel</a>
        </td>
      </ng-template>
    </tr>
    <tr [nzExpand]="clubItem.expand">
      <nz-table #innerTable [nzData]="clubItem.club.clubMembers" nzSize="middle" [nzShowPagination]="false">
        <thead>
          <tr>
            <th nzWidth="45%">Name</th>
            <th nzWidth="40%">Age</th>
            <th nzWidth="15%">Action</th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let clubMember of clubItem.club.clubMembers; let clubMemberIndex = index">
          <!--<ng-container>-->
          <ng-container *ngIf="!editCache[clubIndex].club.clubMembers[clubMemberIndex].edit; else editClubMemberTemplate">
            <td nzWidth="45%">{{clubMember.name}}</td>
            <td nzWidth="40%">{{clubMember.age}}</td>
            <td nzWidth="15%"><a (click)="startClubMemberEdit(clubIndex, clubMemberIndex)">Edit</a></td>
          </ng-container>
          <ng-template #editClubMemberTemplate>
            <td nzWidth="45%"><input type="text" nz-input [(ngModel)]="editCache[clubIndex].club.clubMembers[clubMemberIndex].name" /></td>
            <td nzWidth="40%"><input type="text" nz-input [(ngModel)]="editCache[clubIndex].club.clubMembers[clubMemberIndex].age" /></td>
            <td nzWidth="15%">
              <a (click)="saveClubMemberEdit(clubIndex, clubMemberIndex)" class="save">Save</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelClubMemberEdit(clubIndex, clubMemberIndex)">Cancel</a>
            </td>
          </ng-template>
        </tr>
        </tbody>
      </nz-table>
    </tr>
  </ng-template>
  </tbody>
</nz-table>
